body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: cornflowerblue;
}

.headingList {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  /* background-color: #4CAF50; */
  color: white;
}
li{
  padding-bottom: 2em;
}


li.productQunatity {
  margin-right: 36em;
  float: right;
}

li.productPrice {
  margin-left:7.5em;
}

li.btn {
  margin-left: 10%;
}

.goto-cart-btn {
  margin-top: 50px;
  margin-right: 1em;
  float: right;
  background-color:orange;  
}

ul li {
  display: inline;
  margin-left: 7em;
  padding: 0 0 0 2m;
}
h2{
  text-align: center;
}
